body{
    background-color: grey;
    color: aliceblue;
    }
     h1{
         color: hsl(96, 85%, 48%);
         font-size: 40px;
         font-style: initial;
         font-family: Georgia, 'Times New Roman', Times, serif;
         text-align: center;
     }
      .food{
        color: salmon;
        font-size: 50px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
    }
    .food1{
        color: rgba(253, 249, 8, 0.959);
        font-size: 45px;
        font-weight: 700;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    .food2{
        color: #0af8b1;
        font-size: 45px;
        font-weight:700;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    .blog{
        background-color:#216262;
        border: 5px solid red;
        font-family: 'Courier New', Courier, monospace;
        border-radius: 30px;
        font-size: 17px;
        margin:10px;
        padding: 5px;
        width: 30%;
        text-align: justify;
        height: 200px;
        display: inline-block;
    }
    .picture{ 
        width: 25%;
        height:30%;
        display: inline;
        margin:10px;
        padding: 5px;

    }
    